.main {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
  }
  
  
  
  
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 6px 2px rgb(0 0 0 / 0.1), 4px 2px 4px 2px rgb(0 0 0 / 0.1);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px; 
    max-height: 80vh; 
    overflow-y: auto; 
  
  }
  
  
  
  
  @media (max-width: 768px) {
    .main {
      font-size: 20px;
      line-height: 28px;
    }
  
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      width: 95%;
      max-width: 90%;
      max-height: 85vh;
  
    }
  }
  
  @media (max-width: 480px) {
    .main {
      font-size: 18px;
      line-height: 25px;
    }
  
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      width: 100%;
      height: auto;
      max-height: 90vh;
      margin-top: 40px; 
      box-shadow: none; 
    }
  }