.greetings{
text-align: center;
padding-top: 40px;
font-weight: 500;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 20px;
font-size: 20px;
width:400px;
text-align: center;
margin: 0 auto;
}
.photo{
    width:400px;
    margin: 0 auto;
    border-radius:50%;
    box-shadow: 10px 10px 5px #ccc;
}
.cont{
    display: flex;
    justify-content: center;
}