.wrapper{
background-color:slateblue;
padding:15px;
display:flex;
justify-content: center;
gap:10px;
align-items: center;
width:400px;
border-radius: 20px;
margin: 0 auto;

}
.list{
display:flex;
justify-content: center;
gap:20px;
list-style-type: none;

}
.item{
  text-decoration: none;  
  color: white;
  font-weight: 700;
}
.exit{
  border:1px solid black;
border-radius: 20px;
 padding:5px;
background-color:transparent;
color:black;
font-weight: 700;
font-size: 17px;

}
.exit:hover{
  background-color: white;
  color:black;
}